.customNumberContainer {
  display: flex;
  flex-direction: row !important;
  padding-left: 50px;
  padding-right: 50px;
}
.numberSubContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexDirectionRow {
  display: flex;
  justify-content: center;
  align-items: flex-end !important;
  flex-direction: column !important;
  width: 50%;
}
.textStyle {
  font-size: 40px;
  font-weight: 400px;
  color: #1aa6e2;
}
.chartContainer {
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .numberSubContainer {
    width: 100%;
  }
  .customNumberContainer {
    display: flex;
    flex-direction: column !important;
    padding-left: 50;
    padding-right: 50;
    align-items: center;
  }
  .chartContainer {
    width: 100%;
    margin-top: 30px;
  }
}
